header{
	background-color: white;
	@media (min-width: 768px) {
		height: 180px;
	}
	.container{
		height: 100%;
		.row{
			height: 100%;
			padding: 20px 0;
			@media (min-width: 768px) {
				padding: 0htdocs;
			}
			.col-12{
				img{
					height: 150px;
				}
			}
		}
	}
}