<% include ../partials/head %>


<div class="section-center d-flex align-items-center justify-content-center flex-column content-carreras">

	<div class="title text-center">
		<h1>CARRERAS - INICIAR</h1>
	</div>

	<div class="container">

		
	</div>

</div>

<% include ../partials/foot %>