
<div id="iniciarcompe" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form class="text-center" action="/competencia/iniciar" method="post">
          <div class="modal-header">            
            <h4 class="modal-title">Elije una competencia para Empezar</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body"> 
            
          <table class="table table-striped table-bordered table-fixed display"  id="Tablecompe" >
              <thead>
                <tr>
                  <th scope="col">Nombre</th><th scope="col">Lugar</th><th scope="col">Fecha</th><th scope="col">HORA</th>
                </tr>
              </thead>
              <tbody>

                <% for(var i=0; i<datosCompetencia.length; i++) {%>
               <tr>
                <th scope="row" class="nombreCompetencia"><%= datosCompetencia[i]['nombre'] %></th>
                <td><%= datosCompetencia[i]['lugar'] %></td>
                <td><%= datosCompetencia[i]['fecha'] %></td>
                <td><%= datosCompetencia[i]['hora'] %></td>
              </tr>
              <% } %>
             
              </tbody>
            </table>

          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-secondary  text-uppercase " data-dismiss="modal" value="Cancelar">
            <input type="submit" class="btn btn-success" value="Empezar" onclick="mostrar();">
          </div>
        </form>
      </div>
    </div>
  </div>