<% include ../partials/head %>


<div class="section-center d-flex align-items-center justify-content-center flex-column content-carreras">

	<div class="title text-center">
		<h1>CARRERAS - MODIFICAR</h1>
	</div>

	<div class="container">

	<div id="modificar">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-fixed display" style="width:100%" id="myTableCompe" cellspacing="0" width="100%">
				
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre</th>
				</tr>
			</thead>

			<tbody>
				<% for(var i=0; i<datosCompetencia.length; i++) {%>
				<tr>
					<th scope="row"><%= datosCompetencia[i]['id'] %></th>
					<td><%= datosCompetencia[i]['nombre'] %></td>
				</tr>
				<% } %>
			</tbody>


			</table>
		</div>

		<div class="btn-container text-center">
			<button id="btn-update" class="btn btn-secondary btn-lg">MODIFICAR</button>
		</div>
		
	</div>
	</div>

</div>

<% include ../partials/foot %>