<% include partials/head %>

<div class="section-center d-flex align-items-center justify-content-center flex-column content-index">
	<div class="title text-center">
  <h1>HISTORIAL</h1>
  </div>
<div class="container">
     <div class="form-wrapper_1" id='oc1'>
        <form  class="text-center" >

          <div class="form-group row align-items-center" id='caja1'>
            <label for="inputNombreCompetencia" class="col-md-2 col-form-label">Nombre de Competencia:</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="inputNombreCompetencia" name="inputNombreCompetencia" placeholder="Nombre de Competencia">
            </div>
          </div>
          <div class="btn-container text-center">
           <a href="/historial/historial1" class="btn btn-secondary btn-lg">Siguiente</a>
          </div>
        </form>
      </div>
</div>
</div>
<% include partials/foot %>