<% include partials/head %>

<div class="section-center d-flex align-items-center justify-content-center flex-column content-index">

	<div class="title text-center">
		<h1>INICIO</h1>
	</div>
	
	<div class="container">
		<div class="row text-center">
			<div class="col-12 col-md-4"><a href="carreras"><button type="button" class="btn btn-secondary btn-lg text-uppercase">Carreras</button></a></div>
			
			<div class="col-12 col-md-4"><a href="competidores"><button type="button" class="btn btn-secondary btn-lg text-uppercase">Competidores</button></a></div>
			
			<div class="col-12 col-md-4"><a href="historial"><button type="button" class="btn btn-secondary btn-lg text-uppercase">Historial</button></a></div>
		</div>
	</div>
</div>


<% include partials/foot %>