<% include ../partials/head %>

<div class="title text-center" >
	<h1>HISTORIAL</h1>
</div>

<div id="addEmployeeModal" class="modal fade bd-example-modal-lg">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form>
				<div class="modal-header" >            
					<h3  class="modal-title" >Premiacion</h3>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">          
					<div class="form-group">
						<label><b>Ganador Absoluto Masculino</b></label>
						<table class="table table-striped table-bordered table-fixed display"  id="Table" >
							<thead>
								<tr>
									<th scope="col">Pos</th><th scope="col"># Numero</th><th scope="col">Nombre y Apellido</th><th scope="col">Edad</th>
									<th scope="col">Club/Equipo</th>
									<th scope="col">Tiempo</th>
								</tr>
							</thead>
							<tbody>
								<tr><th>1</th><th>25</th><td>David Ortega </td><td>27</td><td>Ingenieros</td><td>00:00:25:12</td></tr>
							</tbody>
						</table>
					</div>
					<div class="form-group">
						<label><b>Libre Masculino</b></label>
					</div>
					<div class="form-group">
						<label><b>Master "A" Masculino</b></label>
					</div>
					<div class="form-group">
						<label><b>Master "B" Masculino</b></label>
					</div>
					<div class="form-group">
						<label><b>Master "C" Masculino</b></label>
					</div>
					<div class="form-group">
						<label><b>Master "D" Masculino</b></label>
					</div>
					<div class="form-group">
						<label><b>Master "E" Masculino</b></label>
					</div>

				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-secondary  text-uppercase " data-dismiss="modal" value="OK">
				</div>
			</form>
		</div>
	</div>
</div>
<div class="container">

	<div class="table-title">

		<div class="row">
			<div class="col-sm-8"><h2>Lista de llegada de Atletas</h2></div>
			<div class="col-12 col-md-4">
				<button href="#addEmployeeModal" data-toggle="modal" type="button" class="btn btn-success btn-lg text-uppercase add-new"><i class="fa fa-plus"></i> Premiacion</button>
			</div>
		</div>
	</div>

	<table class="table table-striped table-bordered table-fixed display" style="width:100%" id="myTableHistoriaDetalle" cellspacing="0" width="100%">

		<thead>
			<tr>
				<th scope="col">Pos</th>
				<th scope="col"># Numero</th>
				<th scope="col">Tiempo</th>
				<th scope="col">Nombre y Apellido</th>

			</tr>
		</thead>
		<tbody>   

			<% for(var i=0; i<dataDetalle.dataCompetidores.length; i++) {%>
			<tr>
				<td><%= i+1 %> </td>
				<th scope="row" class="idCompetidor"><%= dataDetalle.dataCompetidores[i].numero%></th>
				<td><%= dataDetalle.dataCompetidores[i].tiempo%></td>
				<td><%= dataDetalle.dataCompetidores[i].competidor%></td>

			</tr>
			<% } %>

		</tbody>
	</table>

	<div class="btn-container text-center">
		<a class="btn btn-secondary btn-lg btn-back" href="/historial">Buscar Otra Competenciaaaa</a>
	</div>

</div>

<% include ../partials/foot %>